<div class="centre jumbotron">
  <h1> Welcome to the App </h1>
  
  <h2> 
    This is the home page of the application where you can signup
  </h2>
  
  <%= link_to "Sign Up", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
  <div class= "col-lg-4">
    <h3 class="middrow"> Some other options</p>
    <h2 class= "left"> This option is to execute this option and sign up later</p>
    <%= link_to "browse options", "", class: "btn btn-warning btn-small" %>
  </div>
  
   <div class= "col-lg-4">
    <h3 class="middrow"> Some other options</p>
    <h2 class= "left"> This option is to execute this option and sign up later</p>
    <%= link_to "browse options", "", class: "btn btn-warning btn-small" %>
  </div>
  
   <div class= "col-lg-4">
    <h3 class="middrow"> Some other options</p>
    <h2 class= "left"> This option is to execute this option and sign up later</p>
    <%= link_to "browse options", "", class: "btn btn-warning btn-small" %>
  </div>
  
   
</div>